@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bike Rental Store</h1>
    <p class="lead">Welkom bij de online fiets verhuur service</p>
    <p><a href="../Reservations/Index" class="btn btn-primary">Klik hier om nu je fiets te huren!</a></p>
</div>